pandas
scikit-learn
tensorflow-gpu
keras
dotmap
torch
torchvision
seaborn
gensim
nltk
PyYAML
python-xmp-toolkit
num2words
ekphrasis
jupyter
jupyterlab
beautifulsoup4
html5lib
h5py
Keras
wordcloud
soundfile
librosa
